
{% extends 'base.html' %}
{% load staticfiles %}
{% block page_title %}Ticket List{% endblock %}

{% block page_heading %}List of Tickets{% endblock %}

{% block content %}

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Description</th> 
    <th>Type</th>
	<th>Status</th>
	<th>Feature</th>
	<th>Votes</th>
	<th>Created By</th>
	<th>Created On</th>
	<th>Closed</th>
	<th>Closed By</th>
	<th>Closed On</th>
	<th></th>
  </tr>
 
{% for k,v in tickets.items %}
 <tr>
    <td><a href="{% url 'edit_ticket' k %}" >{{ v.0.title }}</a></td>
    <td>{{ v.0.description }}</td> 
    <td>{{ v.0.type }}</td>
	<td>{{ v.0.status }} </td>
	<td>{{ v.0.feature }} </td>
	<td>{{ v.0.votes }}</td>
	<td>{{ v.0.created_by }} </td>
	<td>{{ v.0.created_on }} </td>
	<td>{{ v.0.closed }} </td>
	<td>{{ v.0.closed_by }} </td>
	<td>{{ v.0.closed_on }} </td>
	<td>
{% if not v.1 %}
	<form action="{% url 'vote' k %}"><input type="submit" value="Vote" /></form>
{% endif %}

</td>
</tr>
{% endfor %} 
</table>

{% endblock %}